/* primary */
:is(
    button,
    input[type='submit'],
    input[type='button'],
    [role='button']
  ).primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-inverse);
  cursor: pointer;
}
:is(
    button,
    input[type='submit'],
    input[type='button'],
    [role='button']
  ).primary:is([aria-current], :hover, :focus) {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  color: var(--primary-inverse);
}
:is(
    button,
    input[type='submit'],
    input[type='button'],
    [role='button']
  ).primary:active {
  background-color: var(--primary-active);
  border-color: var(--primary-active);
  color: var(--primary-inverse);
}
:is(
    button,
    input[type='submit'],
    input[type='button'],
    [role='button']
  ).primary:fo
  cus {
  box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
    0 0 0 var(--outline-width) var(--primary-focus);
}
