:root {
  /* Colors */

  --primary: hsl(259, 100%, 65%); /* #854DFF */
  --primary-inverse: hsl(0, 0%, 100%); /* #ffffff */
  --primary-hover: hsl(259, 100%, 55%); /* #854DFF */
  --primary-active: hsl(259, 100%, 45%); /* #854DFF */
  --primary-focus: hsl(259, 100%, 45%); /* #854DFF */

  --danger: hsl(0, 100%, 67%); /* #ff6b6b */

  --white: hsl(0, 0%, 100%); /* #ffffff */
  --off-white: hsl(0, 0%, 94%); /* #f2f2f2 */
  --light-grey: hsl(0, 0%, 86%); /* #d9d9d9 */
  --smokey-grey: hsl(0, 1%, 44%); /* #717171 */
  --off-black: hsl(0, 0%, 8%); /* #141414 */

  /* Fonts */
  --font-family: 'Poppins', sans-serif;
}
