.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit-wrapper {
  display: flex;
  margin: 1rem 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    0deg,
    transparent 49%,
    var(--light-grey) 50%,
    transparent 51%
  );

  text-align: center;
}

#submit-button {
  display: block;
  height: clamp(4rem, 8vw, 5rem);
  width: clamp(4rem, 8vw, 5rem);
  border-radius: 50%;
  border: none;
}

#submit-button svg {
  height: 60%;
  width: 60%;
  fill: var(--white);
}

@media screen and (min-width: 767px) {
  .submit-wrapper {
    justify-content: end;
  }
}
